[submodule "kalman-filters"]
	path = kalman-filters
	url = https://github.com/a-ngo/kalman-filters.git
[submodule "lidar-object-detection"]
	path = lidar-object-detection
	url = https://github.com/a-ngo/lidar-object-detection.git
[submodule "computer-vision"]
	path = computer-vision
	url = https://github.com/a-ngo/computer-vision.git
[submodule "radar-signal-processing"]
	path = radar-signal-processing
	url = https://github.com/a-ngo/radar-signal-processing.git
